<html>
		<head>
				<link rel="stylesheet" type="text/css" href="prompt.css">
		</head>
		<body>
				
				<div class="log">
						
						<h1 class="title">
								<img alt="Brand" src="http://i.imgur.com/lwIo7L4.png" width="75" height="75">
								<div class="form">
									<form action="/zip">
									<br>
										<br>
								<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></span>
  <input name="zipcode" type="text" class="form-control" placeholder="Zipcode" aria-describedby="basic-addon1">
</div><br>
									<br>

</div>
								<br>
								
								
								<input type="submit" class="btn btn-info" value="Enter">
								</form>
								
								<br>
								<br>
							<br>
						</h1>
						
				</div>
		</body>
</html> 

